
.navbar
{
  text-align: center;
align-items: center;
font-family: Arial, Helvetica, sans-serif;

}


.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: white;
}

.full-width {
  width: 100%;
}



.history-section {
  margin-top: 30px;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

mat-list {
  max-height: 300px;
  overflow-y: auto;
}

p {
  color: rgba(0, 0, 0, 0.54);
  font-style: italic;
  text-align: center;
  margin-top: 16px;
}

h2
{
   align-items: center;
   text-align: center;
   justify-content: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 28px;
}
.download-btn {
  background-color: orange;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
      font-size: large;
}

.download-btn:hover {
 
   background-color: black;
}
